doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='pagesCSS.css')
    script(defer='', src='javaScript.js')
    title Hi-Paw
  body
    .container
      .myHeader
        h1 Hi-Paw
        .HeaderDiv
      .divLogo
        a(href='//localhost:8080')
          img(src='./Images/LogoImg.png', alt='', width='150', height='150')
        nav
          ul
            li
              a(href='//localhost:8080/homePage') About Us
            li
              a(href='//localhost:8080/signIn') Sign In
            li
              a(href='//localhost:8080/userCreation') Sign Up
      .divLeft
        h3 Who let the dogs out?
        table
          tbody 
            tr
                th First Name
                th Last Name
                th Phone Number
                th Date of Birth
                th Gender
                th Dogs Name
                th Breed
                th Dogs Gender
                th Dogs Age
                th Vaccinated?
                th Neuturing?

            each n in pple
                tr
                td= n.userFname
                td= n.userLname
                td= n.phoneNum 
                td= n.dateOB
                td= n.userGender 
                td= n.dogsName 
                td= n.breed
                td= n.dogsGender 
                td= n.dogsAge 
                td= n.vacc
                td= n.neut  

      .divRight1
        img(src='./Images/ResultImg.png', alt='', width='250', height='250')
      .divEmpty